@model Domain.Entitis.Product
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="panel">
    <div class="page-header">
        <h3>Edit @Model.Name</h3>
    </div>

    @using (Html.BeginForm("Edit", "Admin"))
    {
        <div class="panel-body">
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                <div class="form-group">
                    @if (property.PropertyName == "IdItem")
                    {
                        
                        @Html.TextBox(property.PropertyName, null, new {@class = "form-control", @hidden="false"})
                        @Html.ValidationMessage(property.PropertyName)
                    }
                    else
                    {
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                        @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                        @Html.ValidationMessage(property.PropertyName)
                    }
                    
                </div>
                
            }
        </div>
        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary"/>
            @Html.ActionLink("Cancel and return to Repository", "Index")
        </div>
        
    }


</div>


