@using Domain.Entitis
@model User
@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="page-header">
        <h3>Edit @Model.Email</h3>
    </div>

    @using (Html.BeginForm("EditUser", "User"))
    {
        <div class="panel-body">
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "Id")
                {
                    if (property.PropertyName == "Email")
                    {
                        <div class="form-group">
                            <label>@(property.DisplayName ?? property.PropertyName)</label>
                            @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                            @Html.ValidationMessage(property.PropertyName)
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label>@(property.DisplayName ?? property.PropertyName)</label>
                            @Html.CheckBox(property.PropertyName)
                            @Html.ValidationMessage(property.PropertyName)
                        </div>
                    }

                }
            }
        </div>
        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Cancel and return to Repository", "Index")
        </div>

    }


</div>



